/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

/* General */
body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}


.dashboard-background {
    background-image: url("https://res.cloudinary.com/dnbbm9vzi/image/upload/v1729523537/pexels-codioful-7135068_el85gv.jpg");
    background-repeat: repeat;
    background-size: cover;
}

.dashboard-background-bday {
    background-image: url("https://res.cloudinary.com/dnbbm9vzi/image/upload/v1729521385/pexels-codioful-7130498_yxghjx.jpg");
    background-repeat: repeat;
    background-size: cover;
}

.dashboard-background-anniversary {
    background-image: url("https://res.cloudinary.com/dnbbm9vzi/image/upload/v1729523131/pexels-codioful-7135073_zxsqfx.jpg");
    background-repeat: repeat;
    background-size: cover;
}

.dashboard-background-holiday {
    background-image: url("https://res.cloudinary.com/dnbbm9vzi/image/upload/v1729523059/pexels-codioful-7135121_k0vtmr.jpg");
    background-repeat: repeat;
    background-size: cover;
}

.sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
    padding-top: 20px;
  
    background-color: rgba(255, 255, 255, 0.7); /* White background with 80% opacity */
    backdrop-filter: blur(5px); /* Optional: Adds a blur effect behind the sidebar */
    /* You can also add a transition for smoothness */
    transition: background-color 0.3s ease;
    border-right: 5px solid #dee2e6;
}

.sidebar-user-info {
    padding-top: 200px;
}

.sidebar-heading {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.nav-link {
    margin: 5px 0;
}
  

.nav-link:hover {
    background-color: #e2e6ea; /* Light gray on hover */
    border-radius: 15px;
}


.divider {
    border: none; /* Remove default border */
    border-top: 2px solid #000000; /* Adjust color and thickness as needed */
    margin: 5px 0; /* Space above and below the divider */
}


/*                                                               All auth */
/* Login page */
.rounded-button {
    border-radius: 15px; /* Adjust the value as needed */
}

.divider-login {
    display: flex;
    align-items: center; /* Center align the text vertically */
}

.divider-line {
    flex: 1; /* Make the line take up available space */
    border: none; /* Remove default border */
    height: 1px; /* Set the height of the line */
    background-color: #212529; /* Set the color of the line */
}

.divider-text {
    padding: 0 10px; /* Add some padding on the sides of the text */
}


